.product-page {
  min-height: calc(100vh - 362px);
}
.product-page__subtitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin: 0 0 40px 0;
}
.product-page__border {
  border-bottom: 0.5px solid var(--border-color);
  margin: 0 0 68px 0;
}
