.cart {
  min-height: calc(100vh - 362px);
  display: flex;
  gap: 20px;
}
.cart__products {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: var(--backgrount-box-color);
  border-radius: 15px;
}
.cart__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}
.cart__image {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
.cart__icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.cart__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: white;
  height: 45px;
  font-size: 16px;
  color: var(--text-color);
  cursor: pointer;
  padding: 8px 16px;
}
.cart__select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cart__product-details {
  display: flex;
  gap: 30px;
  align-items: center;
}
.cart__product-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}
.cart__total {
  box-sizing: border-box;
  background-color: var(--backgrount-box-color);
  max-width: 380px;
  width: 100%;
  height: 225px;
  border-radius: 15px;
  padding: 43px 53px;
}
.cart__total-price {
  font-size: 20px;
  margin: 0 0 30px 0;
}
.cart__empty {
  margin: 40px 0 0 20px;
}
