.slider-container {
  width: 100%;
  margin: 0 auto;
}

.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-image {
  height: auto;
  border-radius: 15px;
}
.slick-next:before {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  border-left: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  opacity: 100%;
  transform: rotate(-135deg);
  top: 9px;
  right: 9px;
}
.slick-prev::before {
  content: "";
  height: 17px;
  width: 17px;
  position: absolute;
  border-left: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  opacity: 100%;
  transform: rotate(45deg);
  top: 9px;
  right: 9px;
}
.slick-track {
  margin: 0 0 10px 0;
}
