.title {
  text-align: center;
  font-family: Unbounded, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 124px;
  text-transform: uppercase;
  background-image: var(--gradient-title);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0 0 60px 0;
}
.main {
  margin: 0 0 130px 0;
}
