.title {
  text-align: center;
  font-family: Unbounded, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 124px;
  text-transform: uppercase;
  background-image: linear-gradient(
    180deg,
    rgba(255, 100, 212, 1) 0%,
    rgba(139, 158, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0 0 60px 0;
}
.main {
  margin: 0 0 130px 0;
}
