@import "../../_variables";

.title {
  text-align: center;
  font-family: Unbounded, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 104px;
  text-transform: uppercase;
  background-image: $gradient-title;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin: 0 0 60px 0;
  @media screen and (max-width: 1439px) {
    font-size: 60px;
    line-height: 64px;
  }
  @media screen and (max-width: 1023px) {
    font-size: 48px;
    line-height: 52px;
  }
  @media screen and (max-width: 767px) {
    font-size: 35px;
    line-height: 39px;
    margin: 0 0 40px 0;
  }
}
.main {
  margin: 0 0 110px 0;
  @media screen and (max-width: 1440px) {
    margin: 0 0 110px 0;
  }
  @media screen and (max-width: 1023px) {
    margin: 0 0 100px 0;
  }
  @media screen and (max-width: 767px) {
    margin: 0 0 60px 0;
  }
}
