@import "../../_variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 70px 0;
  position: relative;
  gap: 20px;
  @media screen and (max-width: 767px) {
    margin: 0 0 40px 0;
  }
}
nav {
  display: flex;
  gap: 20px;
}
.link {
  position: relative;
  text-decoration: none;
  color: $text-color;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s all ease;
  &:hover {
    color: $hover-color;
  }
}

nav span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  background-color: white;
  color: $text-color;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  font-size: 10px;
}
.header img:hover {
  cursor: pointer;
}
.message {
  position: absolute;
  top: -50px;
  left: 90%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 13px 20px;

  border-radius: 10px;
  z-index: 1000;
  text-align: center;
  transition: top 0.5s ease;
}

.message.show {
  top: 40px;
}
