@import "../../_variables";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  box-sizing: border-box;
  max-width: 690px;
  width: 100%;
  font-size: 16px;
  border: 0.5px solid $border-color;
  border-radius: 5px;
  padding: 15px 25px;
  margin: 0 0 15px 0;
  &::placeholder {
    opacity: 0.5;
  }
}

.field {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  max-width: 690px;
  width: 100%;
}
.error__message {
  color: red;
  margin: 0;
}
.field label {
  margin: 0 0 7px 0;
  display: block;
  text-align: left;
}
