.registration {
  min-height: calc(100vh - 362px);
}

.registration__subtitle {
  background-image: var(--gradient-title);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin: 0 0 40px 0;
}
.error-message {
  color: red;
}
