.wrapper {
  background: rgb(221, 246, 254);
  background: linear-gradient(
    180deg,
    rgba(221, 246, 254, 1) 0%,
    rgba(247, 233, 255, 1) 100%
  );
  padding-top: 50px;
}
.container {
  width: 1180px;
  margin: 0 auto;
}
